<div class="container bg-white pb-5">
  <div class="row d-flex justify-content-start align-items-center mt-sm-5">
    <div class="col-lg-5 col-10">
      <div id="circle"></div>
      <div class="pb-5"> <img src="https://img.freepik.com/free-vector/authentication-concept-illustration_114360-2168.jpg?size=338&ext=jpg&ga=GA1.2.777073396.1599399655" alt=""> </div>
    </div>
    <div class="col-lg-4 offset-lg-2 col-md-6 offset-md-3">
      <div class="pt-4">
        <h6><span class="fa fa-superpowers text-primary px-md-2"></span>Ecommerce Website</h6>
      </div>
      <div class="mt-3 mt-md-5">
        <h5>Log in to your account</h5>
        <div class="pt-4">
         <%= form_tag(validate_user_path) do %>
            <div class="d-flex flex-column pb-3">
              <label for="email">Email Address</label>
               <%= email_field_tag :email,nil, class: 'border-bottom border-primary' %>
            </div>
            <div class="d-flex flex-column pb-3">
              <label for="password">Password</label>
              <%= password_field_tag :password,nil, class: 'border-bottom border-primary'%>
            </div>
            <div class="d-flex flex-column pb-3">
              <%= submit_tag 'Log In', class: 'btn btn-primary' %>
            </div>
        <%end%>
          <div class="register mt-2">
             <p>Login As <%= link_to "Guest Login", guest_login_path  %></p>
          </div>
          <div class="register mt-2">
            <p>Don't have an account? <%= link_to "Create an account" , new_auth_path%></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>